@import 'constantes';
*{
    margin: 0px ;
    padding: 0;
    box-sizing: border-box;
}
//NavBarMobile
.navbarMobile{
    width: 100%;
    padding: 5px;
    background-color: $color-primary;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart_icon{
        width: 40px;
        position: relative;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: end;

        .cart_icon_span {
            position: absolute;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: red;
            top: -10px;
            right: -10px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
    }

    .navbarMobile__brand{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;

        .navbarMobile__brand__h3{
            margin-left: 16px;
        }
    }
    .navbarMobile_toggle-icon {
        cursor: pointer;
        transition: transform 0.3s ease-in-out; /* Agrega la transición */
    }
    .navbarMobile_open {
        transform: rotate(180deg); /* Rotación para el ícono abierto */
      }

    .navbarMobile__links-on{
        z-index: 2;
        overflow: hidden;
        height: 280px;
        width: 150px;
        position: absolute;
        right: 16px;
        top: 63px;
        background-color: $color-primary;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        transition: height 0.2s ease-in-out 0.2s, width 0.2s ;

        .navbarMobile__links__link{
            padding: 8px;
            text-decoration: none;
            color: white;
            font-weight: 600;
        }
        .navbarMobile__links__link-session{
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
        }
        .navbarMobile__links__button{
            margin-top: 5px;
            padding-left: 8px;
            border: none;
            background-color: $color-primary;
            text-align: start;
        }
    }
    .navbarMobile__links-off{
        z-index: 2;
        height: 40px;
        width: 0px;
        overflow: hidden;
        position: absolute;
        right: 16px;
        top: 63px;
        background-color: $color-primary;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        transition: height 0.2s, width 0.2s ease-in-out 0.2s;

        .navbarMobile__links__link{
            padding: 8px;
            text-decoration: none;
            color: white;
            font-weight: 600;
        }
    }
}


.navbaMobiler__seaarch{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbaMobiler__search{
    position: relative;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .navbarMobile__search__input{
        width: 70%;
        padding-left: 16px;
        height: 35px;
        background-color: rgba(230, 229, 229, 0.61);
        color: black;
        font-size: 1.2rem;
        border: none;
        border-radius: 10px;
    }
    .navbarMobile__search__input:focus{
        outline: none;
    }
    .navbarMobile__search__button{
        margin-left: -10px;
        height: 35px;
        width: 50px;
        background-color: #0d6efd;
        border: none;
    }

    .navbaMobiler__search__div {
        position: absolute;
        top: 110%; 
        left: 0;
        width: 100%; 
        background-color:transparent;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .navbaMobiler__search__div__aside{
            padding: 8px;
            background-color: rgba(230, 229, 229, 0.774);
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 8px;
            border-bottom: 0.1px solid #0000008a; 
            .navbaMobiler__search__div__aside__img{
                width: 15%;
            }
            .navbaMobiler__search__div__aside__p{
                font-size: 0.6rem;
            }
        }
    }
}

//---------------------------------------------------------------//
/*profile*/

.profile{
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .profile_section{
        position: relative;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        .profile_section_img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: solid 1px $color-primary;
        }
        .profile_section_aside{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $color-primary;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .profile_div_datos{
        margin-top: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile_div_btn{
        margin-top: 16px;
        margin-bottom: 32px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .profile_div_btn_log-out{
            height: 40px;
            padding: 6px;
            background-color: red;
            border: none;
            border-radius: 6px;
            color: white;
        }
        .profile_div_btn_shopping{
            height: 40px;
            padding: 6px;
            background-color: $color-primary;
            border: none;
            border-radius: 6px;
            .profile_div_btn_shopping_link{
                text-decoration: none;
                color: white;
            }
        }
    }
}

//---------------------------------------------------------------//
//my-shopping

.my-shopping-list{
    padding: 8px;
    margin: 32px 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .my-shopping-list_container{
        width: 100%;
        .my-shopping-list_container_div{
            margin-top: 16px;
            margin-bottom: 8px;
            padding: 16px;
            display: flex;
            border: solid 0.3px black;
            justify-content: space-between;
            .my-shopping-list_container_div_h3{
                width: 33%;
                text-align: center;
                
            }
            .my-shopping-list_container_div_h3:nth-child(1),
            .my-shopping-list_container_div_h3:nth-child(2){
                border-right: solid 0.3px black;
            }
        }
        .my-shopping-list_container_table{
            width: 100%;
            .my-shopping-list_container_table_links{
                text-decoration: none;
                height: 40px;
                padding: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: black;
                border: solid 0.1px black;
                .my-shopping-list_container_table_links_h6{
                    width: 33%;
                    text-align: center;
                }
            }
            .my-shopping-list_container_table_links:nth-child(odd) {
                background-color: rgb(218, 218, 218);
                transition: all 0.3s;
            }
            .my-shopping-list_container_table_links:nth-child(odd):hover {
                background-color: rgb(110, 110, 110);
                color: white;
                transition: all 0.3s;
            }
            .my-shopping-list_container_table_links:nth-child(even) {
                background-color: rgb(241, 241, 241);
                transition: all 0.3s;
            }
            .my-shopping-list_container_table_links:nth-child(even):hover {
                background-color: rgb(156, 156, 156);
                color: white;
                transition: all 0.3s;
            }
        }
    }
}

//--------------------------------------------------------------//
//PurchaseDetails
.detail-card{
    width: 90%;
    margin: auto;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .detail-card_img{
        width: 5%;
    }

    .detail-card_p{
        width: 40%;
        text-align: start;
    }
    .detail-card_p:nth-child(3),
    .detail-card_p:nth-child(4){
        width: 20%;
        text-align: center;
    }
}

//--------------------------------------------------------------//
//dashboard
.navigationPanel{
    width: 100%;
    padding: 8px;
    margin:16px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-primary;
    .navigationPanel_link{
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
    }
}

//table
.container_input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .input{
        width: 30%;
        background-color: rgb(235, 234, 234);
        color: black;
        border: none;
        border-radius: 8px;
        border-bottom: 0.5px solid $color-primary;
        padding: 8px;
    }
}
.table{
    margin: auto;
    width: 95%;
    .table_thead{
        .table_thead_tr{
           .table_thead_tr_th{
            font-size: 1.3rem;
           }
           .table_thead_tr_th:nth-child(2),
           .table_thead_tr_th:nth-child(3){
            text-align: center;
           }
        }
    }
    .table_tbody{
        .table_tbody_tr{
            .table_tbody_tr_td{
                font-weight: 600;
            }
            .table_tbody_tr_td:nth-child(2),
            .table_tbody_tr_td:nth-child(3){
                text-align: center;
            }
            
        }
        .table_tbody_tr:nth-child(odd) {
            background-color: #b1b1b194; 
        }
        .table_tbody_tr:nth-child(odd):hover {
            background-color: #b1b1b1b6; 
        }
        .table_tbody_tr:nth-child(even) {
            background-color: #d6d6d675; 
        }
        .table_tbody_tr:nth-child(even):hover {
            background-color: rgba(177, 177, 177, 0.70); 
        }
    }
}
.container_btn{
    display: flex;
    .btn{
        margin: auto;
        margin-top: 16px;
        margin-bottom: 16px;
        background-color: $color-primary;
        color: white;
    }
}
//AddProduct
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .moodal {
      width: 30%;
      height: 90%;
      background: rgba(255, 255, 255, 0.637);
      padding: 20px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .modal_form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .input{
            width: 90%;
            height: 35px;
            padding: 4px;
            margin: 8px;
            background-color: rgba(255, 255, 255, 0.616);
            border: none;
            border-radius: 6px;
            color: black;
        }

        .btn{
            width: 90%;
            height: 40px;
            background-color: rgba(0, 128, 0, 0.562);
            margin: 16px 0px;
            color: white;
        }
      }

      .close{
        width: 90%;
        height: 40px;
        background-color: rgba(255, 0, 0, 0.603);
        margin: 8px 0px;
        color: white;
        border: none;
        border-radius: 6px;
      }
    }
  }

//messages
.table_messages{
    width: 90%;
    margin: auto;
    margin-bottom: 32px;
    margin-top: 32px;

    .table_messages_thead{
        width: 100%;
        height: 50px;
        border-bottom: solid 1px black;
        .table_messages_thead_tr{
            width: 100%;
            padding: 16px;

            .table_messages_thead_tr_th{
                font-size: 1.3rem;
                padding: 8px;
               }
        }
    }
    .table_messages_tbody{
        .table_messages_tbody_tr{
            .table_messages_tbody_tr_td{
                font-weight:700;
                height: 40px;
                padding: 8px;
            }
            
        }
        .table_messages_tbody_tr:nth-child(odd) {
            background-color: #b1b1b194; 
        }
        .table_messages_tbody_tr:nth-child(odd):hover {
            background-color: #b1b1b1b6; 
        }
        .table_messages_tbody_tr:nth-child(even) {
            background-color: #d6d6d675; 
        }
        .table_messages_tbody_tr:nth-child(even):hover {
            background-color: rgba(177, 177, 177, 0.70); 
        }
    }
}

//mesageDetail
.date{
    width: 80%;
    text-align: end;
    margin-top: 32px;
    
    
    .date_p{
        font-size: 1rem;

    }
}
.data{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 16px;
    .data_h5{
        font-weight: 700;
        margin-right: 8px;
    }
}
.message{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 32px;

    .message_h5{
        font-weight: 700;
    }
    .message_h6{
        margin-left: 10%;
    }
}

//orders
.table_orders{
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 95%;
    .table_orders_thead{
        border-bottom: solid 0.5px black;
        .table_orders_thead_tr{
           .table_orders_thead_tr_th{
            font-size: 1.5rem;
            padding: 8px;
           }
        }
    }
    .table_orders_tbody{
        .table_orders_tbody_tr{
            .table_orders_tbody_tr_td{
                font-weight: 600;
                height: 50px;
                padding: 8px;
            }
            
        }
        .table_orders_tbody_tr:nth-child(odd) {
            background-color: #b1b1b194; 
        }
        .table_orders_tbody_tr:nth-child(odd):hover {
            background-color: #b1b1b1b6; 
        }
        .table_orders_tbody_tr:nth-child(even) {
            background-color: #d6d6d675; 
        }
        .table_orders_tbody_tr:nth-child(even):hover {
            background-color: rgba(177, 177, 177, 0.70); 
        }
    }
}

//orderDetails
.order{

    padding: 32px;
    width: 100%;
    .order__main{
      margin: auto;
      padding: 20px;
      width: 90%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .order__main__info{
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .contenedor__datos{
            display: flex;
            justify-content: space-between;
          }

        .order__main__info__p{
            font-family: 'Rajdhani', sans-serif;
            color: black;
            font-size: 1.2rem;
            margin-left: 10px;
        }
      }
      .order__main__hour{
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        border-top: dotted 3px grey;
        border-bottom: dotted 3px grey;
        display: flex;
        justify-content: space-between;
      }
    }

    .ticket {
      position: relative;
      background-color: #fff;
      border: 0.5px solid #000;
      padding: 20px;
      width: 90%;
    }
    .ticket::before,
    .ticket::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: #fff;
    }
    .ticket::before {
      top: -10px;
      border-top: 2px dashed #000;
    }
    .ticket::after {
      bottom: -10px;
      border-bottom: 2px dashed #000;
    }

    .order__main__pedido{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .order__main__pedido__data{
            font-family: 'Rajdhani', sans-serif;
            font-size: 1.3rem;
            font-weight: 700;
          }
    }

    .order__main__item{
        font-family: 'Rajdhani', sans-serif;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .count{
            width: 32%;
            text-align: start;
        }

        .nameProduct{
            width: 30%;
            text-align: start;
        }

        .price{
            width: 30%;
            text-align: end;
          }
    }

    .order__main__total{
        padding-top: 15px;
        width: 100%;
        border-top: dotted 3px grey;
        display: flex;
        justify-content: space-between;
    }

    .productos{
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
    }

    .order_main_total{
        .total{
            font-family: 'Rajdhani', sans-serif;
            color: black;
            font-size: 1.3rem;
            font-weight: 700;
          }
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
   
  
  
  

//-------------------------------------------------------------//
//Login conponent
.login{
    margin-top: 16px;
    padding-top: 8px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("https://images.hola.com/imagenes/estar-bien/20180417122950/perro-gato-casa-convivencia/0-558-880/perro-gato-en-casa-1-t.jpg?tx=w_680");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .login-register_container-on{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items:center;
    transform: rotateY(0deg);
    transition: all 0.5s;
        .login__section{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .login__section__h1{
                color: white;
                padding-top: 16px;
                padding-bottom: 8px;
            }
            .login__section__form{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .login__section__form__datos{
                    padding: 5px;
                    margin-top: 16px;
                    width: 80%;
                    color: white;
                    background-color: #0000005b;
                    border: none;
                    border-radius: 8px;
                }
                .login__section__form__datos:focus{
                    border-color: $color-primary; 
                    box-shadow: 0 0 5px $color-primary; 
                    outline: none;
                }
                .login__section__form__datos::placeholder{
                    color: rgba(255, 255, 255, 0.678);
                }
                .login__section__form__btn{
                    margin-top: 16px;
                    width: 80%;
                    background-color: #0d6efd;
                    border: none;
                    border-radius: 8px;
                }
            }
            .login__section__register{
                color: white;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 600;
                margin-top: 16px ;
               margin-bottom: 8px;
            }
        }
        .login__div{
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .login__div__div{
                margin: 8px 0px;
            }
        }
    }
    .login-register_container-off{
        width: 100%;
        display: flex;
        overflow: hidden;
        height: 430px;
        justify-content: center;
        align-items:center;
        transform: rotateY(180deg);
        transition: all 0.5s;
        .register__section__login{
            color: white;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            margin-top: 16px ;
             margin-bottom: 8px;
        }
        .register-container {
            width: 100%;
            text-align: center;
            padding: 20px;
            transform:rotateY(-180deg);
            .register-container__h2{
                color: white;
                padding-top: 16px;
                padding-bottom: 8px;
            }
            .register-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                transform:rotateY(-180deg);
                .orange-input {
                    padding: 5px;
                    margin-top: 16px;
                    width: 80%;
                    color: white;
                    background-color: #0000005b;
                    border: none;
                    border-radius: 8px;
                    transform:rotateY(-180deg);
                  }
                .orange-input::placeholder{
                    color: rgba(255, 255, 255, 0.678);
                }
                .orange-input:focus{
                    border-color: $color-primary; 
                    box-shadow: 0 0 5px $color-primary; 
                    outline: none;
                }
                .register-button {
                    margin-top: 16px;
                    width: 80%;
                    background-color: #0d6efd;
                    border: none;
                    border-radius: 8px;
                    transform:rotateY(-180deg);
                }
              }
        }
        .register__div{
            margin: auto;
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .register__div__div{
                margin: 8px 0px;
            }
        }
    }
}

//-------------------------------------------------------------//
//contact
.contact_container{
    margin-top: 16px;
    padding-bottom: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://t1.ea.ltmcdn.com/es/posts/2/6/8/como_presentar_a_un_perro_y_un_gato_correctamente_21862_orig.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;

    .contact_container_h1{
        margin-top: 32px;
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }

    .contact_container_p{
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
    }
    .contact_container_form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contact_container_form_input{
            padding: 8px;
            margin-top: 16px;
            width: 80%;
            height: 40px;
            background-color: #0000006c;
            border: none;
            border-radius: 8px;
        }
        .contact_container_form_input::placeholder{
            color: rgba(255, 255, 255, 0.705);
        }
        .contact_container_form_input:nth-child(4){
            height: 80px;
        }
        .contact_container_form_btn{
            margin-top: 16px;
            width: 80%;
            height: 40px;
            background-color: $color-primary;
            border: none;
            border-radius: 8px;
            color: white;
        }
    }
}

//-------------------------------------------------------------//
//cart component

.cart{
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cart__div{
        margin-top: 32px;
        width: 98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cart__div__img{
            width: 15%;
        }
        .cart__div__name{
            margin: auto;
            width: 35%;
            font-size: 0.8rem;
        }
        .cart__div__div{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            .cart__div__div__quantity{
                width: 30%;
                margin: auto;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .cart__div__div__btn{
                width: 35%;
                border: none;
                border-radius: 5px;
                background-color: $color-primary;
            }
        }
        .cart__div__price{
            width: 15%;
            margin: auto;
            margin-left: 5%;
        }
    }
    .cart__total{
        margin-top: 32px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        .cart__total__h3{
            color: #04274C;
            font-weight: 700;
        }
        .cart__total__num{
            color: #04274C;
            font-weight: 700;
        }
    }
    .cart_btn{

        margin-top: 16px;
        color: white;
        padding: 3px 5px;
        background-color:$color-primary;
        border: 1px solid #f0f0f0;
        border-radius: 3px;
    }
}


//------------------------------------------------------------------------//
//carrousel
.Carrousel{
    z-index: 1;
}


//-----------------------------------------------------------------------//
//featuringCategorie component

.category{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    .category__title{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
        margin: 30px 0px;
        .category__title__span{
            padding-bottom: 5px;
            border-bottom: solid 0.5px rgb(214, 214, 214);
        }
    }


    .category__item{
        text-decoration: none;
        width: 250px;
        border: 1px solid #f0f0f0;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        padding: 30px 10px;
        margin: 0 0 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .category__item__img{
            margin-bottom: 16px;
        }

        .category__item__h3{
            width: 50%;
            text-align: center;
            margin-top: 16px;
            padding-top: 16px;
            border-top: 1px solid #c9c8c8;
            color: #5d5d5f;
            line-height: 1.25;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .span{
            color: $color-primary;
        }
    }
}



//-------------------------------------------------------------------------//
//NewProducts component

.new{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    .new__div{
        margin-bottom: 16px;
        height: 15px;
        display: flex;
        .new__div__span{
            width: 3%;
            background-color: $color-primary;
        }
        .new__div__h1{
            width: 80%;
            border-bottom:1px solid #c9c8c8;
            height: 17px;
            font-size: 0.8rem;
        }
    }

    .new__cards{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        .new__cards__card{
            width: 250px;
            padding: 8px;
            border: 1px solid #f0f0f0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .new__cards__card__img{
                width: 70%;
                margin: auto;
            }
            .new__cards__card__new{
                width: 30%;
                padding: 0px 8px;
                color: white;
                background-color:$color-primary;
                border-radius: 3px;
            }
            .new__cards__card__h2{
                font-size: 1.05rem;
                margin-top: 16px;
                font-weight: 700;
            }

            //skeleton card
            .new__cards__card__img-skeleton{
                margin: auto;
                width: 70%;
                height: 120px;
                background: linear-gradient(90deg, #a4a4a5 25%, #c7c7c7 50%, #a4a4a5 75%);
                background-size: 200% 100%;
                animation: slide 2s linear infinite;
            }
            .new__cards__card__h2-skeleton{
                margin: 8px  0px;
                width: 30%;
                height: 20px;
                background: linear-gradient(90deg, #a4a4a5 25%, #c7c7c7 50%, #a4a4a5 75%);
                background-size: 200% 100%;
                animation: slide 2s linear infinite;
            }
            .new__cards__card__price-skeleton{
                margin: 8px  0px;
                width: 20%;
                height: 15px;
                background: linear-gradient(90deg, #a4a4a5 25%, #c7c7c7 50%, #a4a4a5 75%);
                background-size: 200% 100%;
                animation: slide 2s linear infinite;
            }

            @keyframes slide {
                0% {
                  background-position: 100% 0;
                }
                100% {
                  background-position: -100% 0;
                }
            }

            .new__cards__card__section{
                display: flex;
                justify-content: space-evenly;
                .new__cards__card__section__btn{
                    text-decoration: none;
                    color: white;
                    padding: 3px 5px;
                    background-color:$color-primary;
                    border: 1px solid #f0f0f0;
                    border-radius: 3px;
                }
                .new__cards__card__section__btn-skeleton-cart{
                    width: 60%;
                    height: 30px;
                    border: none;
                    border-radius: 3px;
                    background: linear-gradient(90deg, #a4a4a5 25%, #c7c7c7 50%, #a4a4a5 75%);
                    background-size: 200% 100%;
                    animation: slide 2s linear infinite;
                }
                .new__cards__card__section__btn-skeleton{
                    width: 30%;
                    height: 30px;
                    border: none;
                    border-radius: 3px;
                    background: linear-gradient(90deg, #a4a4a5 25%, #c7c7c7 50%, #a4a4a5 75%);
                    background-size: 200% 100%;
                    animation: slide 2s linear infinite;
                }
                @keyframes slide {
                    0% {
                      background-position: 100% 0;
                    }
                    100% {
                      background-position: -100% 0;
                    }
                }
            }
        }
    }
}


//------------------------------------------------------------------//
//coments component
.container_comments{
    width: 100%;
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .container_comments_h1{
        text-align: center;
        padding: 5px;
    }
    .comments-container{
        width: 100%;
        overflow: hidden;
        .carrousel{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            
            //animation: scrollComments 5s ease-in-out infinite;
            .coments{
                width: 300px;
                margin: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                .coments__coment{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    .coments__coment__img{
                        z-index: 2;
                        width: 50px;
                        height: 50px;
                        border: solid 1px $color-primary;
                        border-radius: 50%;
                    }
                    .coments__coment__div{
                        width: 90%;
                        height: 80px;
                        margin-left: -25px;
                        padding: 0px 16px;
                        padding-left: 32px;
                        border: 1px solid #c9c8c8;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        .coments__coment__div__p{
                            padding-top: 8px ;
                            font-size: 0.8rem;
                            font-weight: 600;
                            color: #5d5d5f;
                            line-height: 0.95;
                        }
                        .coments__coment__div__section{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .comments__coment__div__section__h5{
                                color: $color-primary;
                                font-size: 0.7rem;
                                font-weight: 700;
                                margin-top: -8px;
                            }
                            .comments__coment__div__section__h6{
                                margin-top: -8px;
                                font-size: 0.6rem;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-comment{
        height: 40px;
        padding: 5px;
        margin-top: 16px;
        text-align: center;
        margin-bottom: 16px;
        background-color: $color-primary;
        color: white;
        border: none;
        border-radius: 6px;
    }

    .moldalComment{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #dadada85;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;

        .modalComment_cancel{
            position: absolute;
            width: 32px;
            height: 32px;
            top: 15px;
            right: 15px;
        }
        .modalComment_form{
            padding: 16px;
            width: 95%;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .modalcomment_form_input{
                padding: 8px;
                margin-top: 16px;
                width: 80%;
                color: rgb(0, 0, 0);
                background-color: #9999995b;
                border: none;
                border-radius: 8px;
            }
            .modalcomment_form_input:focus{
                outline: none;
            }
            .modalcomment_form_input::placeholder{
                color: #000;
            }

            .modalComment_form_btn{
                width: 80%;
                height: 40px;
                background-color: $color-primary;
                border: none;
                border-radius: 6px;
                margin-top: 16px;
            }
        }
    }
}

@keyframes scrollComments {
    0% {
      transform: translateX(5%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
//----------------------------------------------------------//
//ItemListContainer companent
.filter{
    width: 100%;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .filter__section{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .filter__section__down{
            transform: rotateX(180deg);
            transition: all 0.3s;
        }
        .filter__section__up{
            transform: rotateX(0deg);
            transition: all 0.3s;
        }
    }
    .filter__open{
        width: 90%;
        height: 420px;
        overflow: hidden;
        transition: height 0.3s;
        background-color: white;
        .filter__aside{
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            .filter__aside__div{
                display: flex;
                flex-direction: column;
                .filter__aside__div__label{
                    margin-left: 8px;
                    display: flex;
                    align-items: center;
                    background-color: white;
                    .filter__aside__div__label__input{
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;
                        border-color: white;
                        accent-color:  $color-primary;
                    }
                    .filter__aside__div__label__input::after{
                        width: 18px;
                        height: 18px;
                        background-color: white;
                        border-color: $color-primary;
                    }
                }
                .rc-slider-track{
                    background-color:  $color-primary;;
                }
                .filter__aside__div__slider .rc-slider-handle {
                    border-color:  $color-primary;; /* Cambia el color del borde del círculo */
                    background-color:  $color-primary;; /* Cambia el color del círculo */
                }
                .slider-container{
                    background-color: transparent;
                    .filter__aside__div__div{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    .filter__close{
        width: 90%;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s;
        .filter__aside{
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            .filter__aside__div{
                display: flex;
                flex-direction: column;
                .filter__aside__div__label{
                    margin-left: 8px;
                    display: flex;
                    align-items: center;
                    background-color: white;
                    .filter__aside__div__label__input{
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;
                        border-color: white;
                        accent-color:  $color-primary;
                    }
                }
                .slider-container{
                    background-color: transparent;
                    .filter__aside__div__div{
                        display: flex;
                    }
                }
               
            }
        }
    }
    .filter__clear{
        padding: 3px 5px;
        margin-left: 8px;
        margin-top: 32px;
        background-color:$color-primary;
        border: 1px solid #f0f0f0;
        border-radius: 3px;
    }
}


//-------------------------------------------------------------//
//itemList component

.items{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    .items__section__disabled{
        width: 250px;
        padding: 8px;
        margin-top: 8px;
        border: 1px solid #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #dfdddd;
        
    }
    .items__section{
        width: 250px;
        padding: 8px;
        margin-top: 16px;
        border: 1px solid #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .items__section__img{
            width: 70%;
            margin: auto;
        }
        .items__section__div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .items__section__div__h4{
                font-size: 1rem;
                text-align: center;
                margin-top: 6px;
            }
            .items__section__div__p{
                margin: 0%;
                font-size: 0.7rem;
                color: grey;
            }
            .items__section__div__div{
                .items__section__div__div__btn{
                    text-decoration: none;
                    color: white;
                    padding: 2px 5px;
                    background-color:$color-primary;
                    border: 0.5px solid #f0f0f0;
                    border-radius: 3px;
                }
                .items__section__div__div__des{
                    text-decoration: none;
                    color: white;
                    padding: 3px 5px;
                    background-color:$color-primary;
                    border: 1px solid #f0f0f0;
                    border-radius: 3px;
                }
            }
            
        }
    }
}
//------------------------------------------------------------------------//
//notification
.conteiner_notification{
    position: absolute;
    width: 200px;
    height: 50px;
    padding: 8px;
    top: 10px;
    right: 5px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgb(160, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcff;
    animation: fadeIn 0.5s ease-in-out;

    .text-notification{
        margin-top: 15px;
        margin-left: 8px;
        font-weight: 600;
    }
    
    .span {
        width: 200px;
        height: 2px;
        position: absolute;
        bottom: 0;
        background: $color-primary;
    }
    .spanOff {
        position: absolute;
        bottom: 0;
        width: 0px;
        height: 2px;
        background: $color-primary;
        background-position: 100% 0;
        transition: width 1.5s linear;
    }
}

@keyframes fadeIn {
    0% {
        transform: rotateZ(0deg);
    }
    10%{
        transform: rotateZ(10deg);
    }
    20%{
        transform: rotateZ(0deg);
    }
    30%{
        transform: rotateZ(-10deg);
    }
    40%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(10deg);
    }
    60%{
        transform: rotateZ(0deg);
    }
    70%{
        transform: rotateZ(-10deg);
    }
    80%{
        transform: rotateZ(0deg);
    }
    90%{
        transform: rotateZ(10deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}



//------------------------------------------------------------------------//
// itemDetal component

.detail{
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    .detail__section{
       display: flex;
       flex-direction: column;
       align-items: center;
        justify-content: center;
       .detail__section__img{
            width: 75%;
       } 
       .detail__section__div{
            .detail__section__div__h1{
                text-align: start;
                margin-left: 16px;
            }
            .detail__section__div__p{
                margin-left: 16px;
                font-size: 1.1rem;
                font-weight: 600;
            }
            .detail__section__div__div{
                margin-top: 8px;
                display: flex;
                align-items: center;
                margin-left: 16px;
                .detail__section__div__div__p{
                    margin-top: 10px;
                    margin-left: 8px;
                    color: rgb(121, 121, 121);
                    font-weight: 500;
                }
            }
       }
    }
    .detail__div{
        width: 100%;
        .detail__div__div{
            margin: auto;
            margin-top: 16px;
            width: 90%;
            height: 30px;
            background-color: rgb(241, 241, 241);
            display: flex;
            .detail__div__div__span{
                width: 3%;
                height: 30px;
                background-color: $color-primary;
            }
            .detail__div__div__h1{
                font-size: 1.2rem;
                margin-left: 8px;
            }
        }
        .detail__div__p{
            margin: 16px auto;
            width: 90%;
        }
        
    }
}

//count component
.count{
    margin: auto;
    margin-bottom: 32px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .count__div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .count__div__btn{
            width: 40%;
            height: 20px;
            background-color:#04274C;
            border: none;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .count__div__p{
            margin: auto;
            width: 20%;
            height: 25px;
            text-align: center;
        }
    }
    .count__btn{
        margin-top: 16px;
        width: 100%;
        height: 30px;
        background-color:#04274C;
        border: none;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


//footer component
.paginate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate__link{
        text-align: center;
        margin: 8px;
        text-decoration: none;
    }
}
.footer{
    padding: 16px;
    background-color: rgba(255, 68, 0, 0.918);
    color: white;
    display: flex;
    flex-direction: column;
    .footer__redes{
        margin-bottom: 16px;
        .footer__redes__h3{
            font-size: 1rem;
        }
        .footer__redes__section{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .footer__redes__section__svg{
                margin: 8px;
            }
        }
    }

    .footer__nosotros{
        padding-top: 16px;
        margin-bottom: 16px;
        border-top: 1px solid #aaa9a9;
        .footer__nosotros__h3{
            font-size: 1rem;
        }
        .footer__nosotros__p{
            margin: 8px;
            font-size: 0.8rem;
        }
    }

    .footer__info{
        padding-top: 16px;
        border-top: 1px solid #aaa9a9;
        .footer__info__h3{
            font-size: 1rem;
        }
        .footer__info__p{
            margin-left: 8px;
            font-size: 0.8rem;
            margin-bottom: 0px;
        }
    }
}






@media screen and (min-width: 1023px){
    .new{
        .new__cards{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
    
}



.navbar{
    width: 100%;
    padding: 5px;
    background-color: $color-primary;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar__brand{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        .navbar__brand__h3{
            margin-left: 8px;
        }
    }

    .navbar__links{
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        .navbar__links__link{
            margin-right: 32px;
            text-decoration: none;
            color: white;
            font-weight: 600;
        }
    }
    
    .navbar__search{
        display: flex;
        justify-content: center;
        align-items: center;

        .navbar__search__input{
            padding-left: 16px;
            height: 35px;
            width: 100%;
            background-color: rgba(230, 229, 229, 0.425);
            font-size: 1.2rem;
            border: none;
            border-radius: 10px;
        }
        .navbar__search__button{
            margin-left: -10px;
            height: 35px;
            width: 50px;
            background-color: #0d6efd;
            border: none;
        }
    }
}